* {
  box-sizing: border-box;
}
header {
  background-color: blanchedalmond;
}
main {
  background-color: cornsilk;
  min-height: 600px;
}
.resume {
  text-align: center;
}
.left-column {
  width: 70%;
  display: inline-block;
}
.right-column {
  width: 204px;
  height: 154px;
  border: 2px solid black;
  display: inline-block;
}
.name {
  margin-left: 50%;
}
.conta-iforma {
  margin-left: 20%;
}

article {
  margin-top: 10px;
  padding-top: 20px;
  margin-left: 14%;
}
p {
  margin-left: 20px;
}
