* {
  box-sizing: border-box;
  transition: all 0.3s;
}
section {
  display: flex;
}
.header-resum {
  margin: 10px auto;
  text-align: center;
  width: 1024px;
  border-radius: 20px;
  background-color: lightslategray;
}
.header-user-name {
  display: inline-block;
}
.user-name {
  font-size: 50px;
  font-family: Tahoma, Verdana, Geneva, sans-serif;
  margin: 20px 0 10px;
  padding: 10px;
}
.objective {
  font-size: 36px;
  font-family: Tahoma, Verdana, Geneva, sans-serif;
  margin: 20px 0 10px;
}
.my-foto {
  margin: 55px 0 20px 80px;
  float: left;
  border-radius: 20px;
  border: 2px solid black;
}

.conta-informat {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
}
nav h2 {
  padding-right: 20px;
}
ul.list-contacts {
  margin-bottom: 20px;
  padding: 4px;
}
ul.list-contacts li {
  display: inline-flex;
  line-height: 32px;
  align-items: center;
  margin-right: 20px;
  padding: 3px;
  text-indent: 10px;
}

.main {
  margin: 10px auto;
  width: 1024px;
  border-radius: 20px;
  background-color: cadetblue;
}
.left-column {
  margin: 10px auto;
  font-family: Tahoma, Verdana, Geneva, sans-serif;
  width: 50%;
  float: left;
  text-align: center;
}
.left-column div {
  margin-left: 20px;
  margin-right: 20px;
}
.my-story {
  height: 195px;
  border-bottom: 2px solid white;
}
.right-column {
  margin: 10px auto;
  font-family: Tahoma, Verdana, Geneva, sans-serif;
  width: 50%;
  float: right;
}
.right-column div {
  margin-left: 20px;
  margin-right: 20px;
}
.experience {
  height: 195px;
  text-align: center;
  border-bottom: 2px solid white;
}
.skill {
  text-align: center;
}
.skill-list {
  margin-left: 35%;
  list-style-image: url(/img/check_icon.png);
}
p {
  font-size: 20px;
}
.main h3 {
  font-size: 22px;
}
@media screen and (max-width: 920px) {
  .header-resum {
    width: 620px;
  }
  .my-foto {
    margin-left: 30%;
  }
  .user-name {
    font-size: 36px;
  }
  .objective {
    font-size: 20px;
  }
  .main {
    width: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .left-column {
    width: auto;
    border-bottom: 1px solid white;
  }
  .my-story {
    height: auto;
  }
  .experience {
    height: auto;
  }
  .skill-list {
    margin-left: 10%;
  }
  p {
    font-size: 16px;
  }
  .main h3 {
    font-size: 18px;
  }
}
